beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
ffmpeg==1.4
Flask==1.1.2
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mutagen==1.45.1
Pygments==2.8.1
pytube==10.7.1
rapidfuzz==1.4.1
requests==2.25.1
rich==10.1.0
six==1.15.0
soupsieve==2.2.1
spotdl==3.5.0
spotipy==2.17.1
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
ytmusicapi==0.15.1
