{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="container text-white">
        <div class="mx-auto">
          <h3>mozart</h3>
          <form action="{{ url_for('playlist') }}" method="post">
            <label class="form-label">Spotify Playlist URL:</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="spotify-url" name="spotify-url">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </div>
{% endblock %}